.root {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Rubik';
}

.header {
    max-width: 1230px;
    height: 100vh;
    margin: 54px auto 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__nav-title {
    align-self: center;
    flex-basis: 385px;
    font-size: 33px;
    font-weight: 500;
    line-height: 39px;
    color: #363853;
}

.header__nav-title::first-letter {
    color: #FF6838;
}

.header__links {
    display: flex;
    column-gap: 60px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    color: #363853;
}

.header__links > li:first-child > .header__link {
    color: #FF6838;
}

.header__button {
    padding: 0;
    margin: 0;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF6838;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.header__button:hover {
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
}

.header__content {
    position: relative;
    display: flex;
    margin-top: 220px;
}

.header__content-text {
    display: flex;
    flex-direction: column;
}

.header__title {
    width: 530px;
    height: 156px;
    padding: 0;
    margin: 0 0 23px;
    font-size: 66px;
    font-weight: 500;
    line-height: 78px;
}

.header__title--color--orange {
    color:#FF6838;
}

.header__text {
    width: 513px;
    height: 66px;
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 30px;
    color: #363853;
}

.header__content-buttons {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.header__content-button {
    width: 160px;
    height: 50px;
    padding: 0;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF6838;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.header__content-button:hover {
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
}

.header__content-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color:#363853;
}

.header__image-content{
    position: absolute;
    top: -110px;
    right: 0;
    width: 689px;
    height: 682px;
    background-image: url("../images/scooter-guy.png");
}